<h6>Панель керування</h6>
<h3>Вітаю, {{name}}</h3>
<p>Тут Ваші історії</p>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Дата</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate created_at 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>У вас не має жодної історії</p>
{{/if}}
